In [ ]:
import os
import pandas as pd

# Directory containing the CSV files
results_dir = os.path.join('..', 'results')

# Elenco dei file che iniziano con "benchmark" e terminano con ".csv"
benchmark_csvs = [f for f in os.listdir(results_dir) if f.startswith("benchmark") and f.endswith(".csv")]

if not benchmark_csvs:
    raise FileNotFoundError("Nessun file CSV che inizia con 'benchmark' trovato in ../results")

# Seleziona il file con il nome lessicografico maggiore (assunto piÃ¹ recente)
latest_csv = max(benchmark_csvs)
csv_path = os.path.join(results_dir, latest_csv)

print("CSV importato da:", csv_path)

# Importa il CSV in un DataFrame di pandas
df = pd.read_csv(csv_path, delimiter=';')

df.head()

CSV importato da: ../results/benchmark_results_20250319_155203.csv

,implementation,input_string,batch_size,regex_pattern,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,match_success,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
0,Triton,0101,1,(0|1)*1,1,1.072645,1.071453,0.5,10000,0.0,2,True,1.0,2,1,0
1,Triton,0100,1,(0|1)*0,1,1.056910,1.056433,0.5,10000,0.0,2,True,1.0,2,1,0
2,Triton,01011,1,(0|1)*11,1,1.054525,1.054287,0.5,10000,0.0,2,True,1.0,2,1,0
3,Triton,01100,1,(0|1)*00,1,1.054287,1.053810,0.5,10000,0.0,2,True,1.0,2,1,0
4,Triton,0101,1,0101,1,1.054525,1.054049,0.5,10000,0.0,2,True,1.0,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,CUDA,010101,1,(0|10)*1?,1,0.010000,0.010000,0.0,0,0.0,3,True,0.0,2,1,0
108,CUDA,0110,1,(0|10)*1?,1,0.010000,0.010000,0.0,0,0.0,3,True,0.0,2,1,0
109,CUDA,010101,1,(01){3},1,0.010000,0.010000,0.0,0,0.0,3,True,0.0,2,1,0
110,CUDA,01010101010101010101,1,(01){10},1,0.010000,0.010000,0.0,0,0.0,3,True,0.0,2,1,0
111,CUDA,11000,1,"((0|1)+)?(1{2,3}(0*))",1,0.010000,0.010000,0.0,0,0.0,3,True,0.0,2,1,0

In [6]:
df.shape

(112, 16)

In [15]:
# separa i dati in cuda e triton per implementation
cuda_df = df[df['implementation'] == 'CUDA']
triton_df = df[df['implementation'] == 'Triton']

In [17]:
cuda_df.head()

,implementation,input_string,batch_size,regex_pattern,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,match_success,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
57,CUDA,0101,1,(0|1)*1,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
58,CUDA,0100,1,(0|1)*0,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
59,CUDA,01011,1,(0|1)*11,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
60,CUDA,01100,1,(0|1)*00,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0
61,CUDA,0101,1,0101,1,0.01,0.01,0.0,0,0.0,3,True,0.0,2,1,0

In [18]:
# describe
cuda_df.describe()

,batch_size,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
count,55.0,55.0,55.00,55.00,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0
mean,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
std,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
25%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
50%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
75%,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0
max,1.0,1.0,0.01,0.01,0.0,0.0,0.0,3.0,0.0,2.0,1.0,0.0

In [20]:
triton_df.describe()

,batch_size,match_result,execution_time_ms,kernel_time_ms,mem_transfer_time_ms,memory_used_bytes,gpu_util_percent,num_states,compilation_time_ms,num_symbols,number_of_accepting_states,start_state
count,57.0,57.0,57.000000,57.000000,57.0,57.0,57.0,57.0,57.0,57.0,57.0,57.0
mean,1.0,1.0,1.096349,1.096065,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
std,0.0,0.0,0.307640,0.307550,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.0,1.0,1.016378,1.015902,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
25%,1.0,1.0,1.056194,1.055717,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
50%,1.0,1.0,1.056671,1.056433,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
75%,1.0,1.0,1.057148,1.056910,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0
max,1.0,1.0,3.377676,3.376722,0.5,10000.0,0.0,2.0,1.0,2.0,1.0,0.0